* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 30px 0;
}

header {
  background-color: black;
}

.menu-burguer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: black;
  width: 100%;
}

.menu-burguer > h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 45px;
  padding-left: 430px;
}

i#menu-icon {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
}

i#menu-icon:hover {
  background-color: white;
  color: rgb(47, 47, 47);
}

menu {
  display: none;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(87, 87, 87);
  color: white;
  border: solid 2px gray;
  font-family: "Kanit", sans-serif;
}

menu > ul > li > a:hover {
  background-color: rgb(35, 35, 35);
}

section {
  width: 90vw;
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 10px;
  margin: 30px auto;
}

section > p {
  text-align: justify;
  margin-bottom: 10px;
  padding: 3px 0;
}

#ligacao > h2 {
  color: rgb(212, 212, 0);
}

#permanente > h2 {
  color: red;
}

#transitorio > h2 {
  color: blue;
}

#mutatorio > h2 {
  color: rgb(0, 225, 0);
}

#aparente > h2 {
  color: rgb(230, 0, 230);
}
h2 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
}

p {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.2em;
  color: rgb(64, 64, 64);
}
